###  **``función 1``**:
 def **desarrollador**( **`desarrollador`**: **str** ) : Cantidad de items y porcentajede contenido Free por año según empresa desarrolladora. **variables**: **``item_id``**, **`developer`**, **`release_date`**, **`price`**

In [1]:
# importamos la libreria de pandas
import pandas as pd

In [30]:
games.head(2)

   genres            item_name  release_date  price  item_id  developer
0  Action  Lost Summoner Kitty          2018   4.99   761140  Kotoshiro
1  Casual  Lost Summoner Kitty          2018   4.99   761140  Kotoshiro

In [31]:
# convertir games a un archivo parquet
games.to_parquet('games.parquet')

In [21]:
# abrimos el archivo parquet
games = pd.read_parquet('parquet/games.parquet')

In [22]:
# seleccionamos las columnas del dataframe games item_id, release_date, price y developer y las guardamos en un nuevo dataframe llamado games_funcion_1
games_funcion_1 = games[['item_id', 'release_date', 'price', 'developer']]

In [5]:
# guardar el dataframe games_funcion_1 en un archivo parquet
games_funcion_1.to_parquet('games_funcion_1.parquet')

In [4]:
games_funcion_1.head(2)

   item_id  release_date  price  developer
0   761140          2018   4.99  Kotoshiro
1   761140          2018   4.99  Kotoshiro

In [9]:
games.head(5)

       genres            item_name  release_date  price  item_id  developer
0      Action  Lost Summoner Kitty          2018   4.99   761140  Kotoshiro
1      Casual  Lost Summoner Kitty          2018   4.99   761140  Kotoshiro
2       Indie  Lost Summoner Kitty          2018   4.99   761140  Kotoshiro
3  Simulation  Lost Summoner Kitty          2018   4.99   761140  Kotoshiro
4    Strategy  Lost Summoner Kitty          2018   4.99   761140  Kotoshiro

In [10]:
# del dataframe funcion_1 seleccionamos las columnas developer, release_date y price y las guardamos en un nuevo dataframe llamado games_funcion_1
games_funcion_1 = games[['developer', 'release_date', 'price']]

In [12]:
games_funcion_1.head(5)

   developer  release_date  price
0  Kotoshiro          2018   4.99
1  Kotoshiro          2018   4.99
2  Kotoshiro          2018   4.99
3  Kotoshiro          2018   4.99
4  Kotoshiro          2018   4.99

In [13]:
# guardar el dataframe games_funcion_1 en un archivo parquet
games_funcion_1.to_parquet('games_funcion_1.parquet')

In [4]:
def desarrollador(funcion_1, desarrollador):
    # Filtrar el dataframe por el desarrollador dado
    df_dev = funcion_1[funcion_1['developer'] == desarrollador]
    
    # Agrupar por año y contar el número total de juegos y el número de juegos gratuitos
    juegos_por_año = df_dev.groupby('release_date').size()
    juegos_gratis_por_año = df_dev[df_dev['price'] == 0.0].groupby('release_date').size()
    
    # Asegurarse de que juegos_gratis_por_año tenga la misma longitud que juegos_por_año
    juegos_gratis_por_año = juegos_gratis_por_año.reindex(juegos_por_año.index, fill_value=0)
    
    # Crear un nuevo dataframe con los resultados
    df_resultado = pd.DataFrame({
        'Año': juegos_por_año.index,
        'Cantidad de artículos': juegos_por_año.values,
        'Contenido Gratis': juegos_gratis_por_año.values
    })
    
    # Calcular el porcentaje de juegos gratuitos y redondearlo a un número entero
    df_resultado['Porcentaje Gratis'] = ((df_resultado['Contenido Gratis'] / df_resultado['Cantidad de artículos']) * 100).round().astype(int)
    
    # Agregar el signo de porcentaje
    df_resultado['Porcentaje Gratis'] = df_resultado['Porcentaje Gratis'].astype(str) + '%'
    
    return df_resultado

In [5]:
# llamamos a la funcion
resultado = desarrollador(funcion_1, '杭州分浪网络科技有限公司')
resultado

    Año  Cantidad de artículos  Contenido Gratis Porcentaje Gratis
0  2018                      5                 5              100%

###  **``función 2``**:
 def **userdata**( **`User_id`**: **str** ) : Debe devolver `cantidad` de dinero gastado por el usuario, el `porcentaje` de recomendación en base a reviews.recommend y `cantidad de items`. **variables**:  **``user_id``**, **``price``**, **``recommend``**, **``item_name``**

In [32]:
# abrimos los archivos parquet
games = pd.read_parquet('parquet/games.parquet')
items = pd.read_parquet('parquet/items.parquet')
reviews = pd.read_parquet('parquet/reviews.parquet')

In [33]:
games.head(2)

   genres            item_name  release_date  price  item_id  developer
0  Action  Lost Summoner Kitty          2018   4.99   761140  Kotoshiro
1  Casual  Lost Summoner Kitty          2018   4.99   761140  Kotoshiro

In [8]:
items.head(2)

   item_id       item_name  playtime_forever            user_id  items_count
0       10  Counter-Strike          0.100000  76561197970982479        277.0
1       30   Day of Defeat          0.116667          evcentric        137.0

In [9]:
reviews.head(2)

,user_id,user_url,item_id,recommend,year,sentiment_analysis
0,Hype_R,http://steamcommunity.com/id/Hype_R,10,True,2014,2
1,lanatbeonakeehsasamokoshtan,http://steamcommunity.com/id/lanatbeonakeehsas...,10,True,2014,2

#### unir los dataframes games y reviews

In [34]:
# unir el dataframe games y el dataframe reviews
games_reviews = pd.merge(games, reviews, left_on='item_id', right_on='item_id', how='inner')

In [35]:
games_reviews.head(2)

,genres,item_name,release_date,price,item_id,developer,user_id,user_url,recommend,year,sentiment_analysis
0,Action,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,http://steamcommunity.com/id/InstigatorAU,True,2014,1
1,Indie,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,http://steamcommunity.com/id/InstigatorAU,True,2014,1

In [36]:
# convertir el dataframe games_reviews a un archivo parquet
games_reviews.to_parquet('games_reviews.parquet')

In [14]:
# seleccionar del dataframe games_reviews las columnas user_id, price, recommend y item_name y las guardamos en un nuevo dataframe llamado games_reviews_funcion_2
games_reviews_funcion_2 = games_reviews[['user_id', 'price', 'recommend', 'item_name']]

In [15]:
games_reviews_funcion_2.head(2)

        user_id  price  recommend             item_name
0  InstigatorAU   9.99       True  Carmageddon Max Pack
1  InstigatorAU   9.99       True  Carmageddon Max Pack

In [17]:
# guardar el dataframe games_reviews_funcion_2 en un archivo parquet
games_reviews_funcion_2.to_parquet('games_reviews_funcion_2.parquet')

In [20]:
# def userdata(games_reviews, User_id):
#     # Filtrar el dataframe 'games_reviews' por el 'User_id' dado
#     df_filtered = games_reviews[games_reviews['user_id'] == User_id]

#     # Calcular la cantidad de dinero gastado
#     total_spent = df_filtered['price'].sum()

#     # Calcular el porcentaje de recomendación
#     total_reviews = df_filtered['recommend'].count()
#     recommended_reviews = df_filtered[df_filtered['recommend'] == True]['recommend'].count()
#     recommendation_percentage = (recommended_reviews / total_reviews) * 100 if total_reviews > 0 else 0

#     # Calcular la cantidad de items
#     total_items = df_filtered['item_name'].nunique()

#     # Crear el diccionario de resultados
#     result = {
#         "Usuario": User_id,
#         "Dinero gastado": f"{total_spent} USD",
#         "% de recomendación": f"{recommendation_percentage}%",
#         "cantidad de artículos": total_items
#     }

#     return result

***Redondea los resultados del precio***

In [10]:
def userdata(games_reviews, User_id):
    # Filtrar el dataframe 'games_reviews' por el 'User_id' dado
    df_filtered = games_reviews[games_reviews['user_id'] == User_id]

    # Calcular la cantidad de dinero gastado y redondearlo a dos decimales
    total_spent = round(df_filtered['price'].sum(), 2)

    # Calcular el porcentaje de recomendación
    total_reviews = df_filtered['recommend'].count()
    recommended_reviews = df_filtered[df_filtered['recommend'] == True]['recommend'].count()
    recommendation_percentage = (recommended_reviews / total_reviews) * 100 if total_reviews > 0 else 0

    # Calcular la cantidad de items
    total_items = df_filtered['item_name'].nunique()

    # Crear el diccionario de resultados
    result = {
        "Usuario": User_id,
        "Dinero gastado": f"{total_spent} USD",
        "% de recomendación": f"{recommendation_percentage}%",
        "cantidad de artículos": total_items
    }

    return result

***muestra mensaje de error cuando se ingresa un valor que no existe en la base de datos***

In [12]:
def userdata(games_reviews, User_id):
    # Filtrar el dataframe 'games_reviews' por el 'User_id' dado
    df_filtered = games_reviews[games_reviews['user_id'] == User_id]

    # Verificar si el dataframe filtrado está vacío
    if df_filtered.empty:
        return f"El usuario {User_id} no existe."

    # Calcular la cantidad de dinero gastado y redondearlo a dos decimales
    total_spent = round(df_filtered['price'].sum(), 2)

    # Calcular el porcentaje de recomendación
    total_reviews = df_filtered['recommend'].count()
    recommended_reviews = df_filtered[df_filtered['recommend'] == True]['recommend'].count()
    recommendation_percentage = (recommended_reviews / total_reviews) * 100 if total_reviews > 0 else 0

    # Calcular la cantidad de items
    total_items = df_filtered['item_name'].nunique()

    # Crear el diccionario de resultados
    result = {
        "Usuario": User_id,
        "Dinero gastado": f"{total_spent} USD",
        "% de recomendación": f"{recommendation_percentage}%",
        "cantidad de artículos": total_items
    }

    return result

In [13]:
# llamando a la función userdata con el argumento '76561197960265729'
userdata(games_reviews, 'InstigatorAU')

{'Usuario': 'InstigatorAU',
 'Dinero gastado': '29.97 USD',
 '% de recomendación': '100.0%',
 'cantidad de artículos': 2}

In [13]:
# lista de valores unicos de la columna 'user_id'
unique_users = games_reviews['user_id'].unique()
unique_users

<StringArray>
[     'InstigatorAU', '76561198096849086',          'GamerFag',
         'Bluegills',         'ripvision', '76561198088947777',
         'epic_doom', '76561198049424642', '76561197970812298',
 '76561198069139035',
 ...
      'shaman3soul3',           'waspish',             'cumme',
 '76561198015886143', '76561198072207162',           'Katidis',
 '76561198076217855',            '2ez2xl',       'matt1255555',
 'LaLocaDeLosDulces']
Length: 23157, dtype: string

###  **``función 3``**:
def **UserForGenre**( **`genero`**: **str** ) : Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año de lanzamiento. **variables**: **`genres`**, **`user_id`**, **`playtime_forever`**, **`release_date`**.

In [45]:
# Seleccionar las columnas necesarias de cada DataFrame
games_selected = games[['item_id', 'genres', 'release_date']]
items_selected = items[['item_id', 'user_id', 'playtime_forever']]

# Unir los dos DataFrames en uno nuevo llamado 'games_items'
games_items = pd.merge(games_selected, items_selected, on='item_id')

In [46]:
games_items.head(2)

   item_id  genres  release_date            user_id  playtime_forever
0   282010  Action          1997  76561198063896904          0.083333
1   282010  Action          1997  76561198091362266          0.216667

In [39]:
# convertir games_items a un archivo parquet
games_items.to_parquet('games_items.parquet')

In [27]:
# seleccionar de la columna games_items las columnas genres, user_id, playtime_forever y release_date y las guardamos en un nuevo dataframe llamado games_items_funcion_3
games_items_funcion_3 = games_items[['genres', 'user_id', 'playtime_forever', 'release_date']]

In [28]:
# convertir el dataframe games_items_funcion_3 a un archivo parquet
games_items_funcion_3.to_parquet('games_items_funcion_3.parquet')

In [45]:
# # unir el dataframe games y items
# games_items = pd.merge(games, items, left_on='item_id', right_on='item_id', how='inner')

In [47]:
def UserForGenre(games_items, genero):
    # Filtrar el DataFrame por el género dado
    df_genre = games_items[games_items['genres'] == genero]

    # Verificar si el DataFrame filtrado está vacío
    if df_genre.empty:
        return "No hay datos para el género {}".format(genero)

    # Obtener el usuario con más horas jugadas
    user_most_played_id = df_genre.groupby('user_id')['playtime_forever'].sum().idxmax()

    # Obtener la acumulación de horas jugadas por año de lanzamiento
    hours_per_year = df_genre.groupby('release_date')['playtime_forever'].sum().astype(int).reset_index()
    hours_per_year.columns = ['Año', 'Horas']
    hours_per_year = hours_per_year.to_dict('records')

    # Devolver los resultados en el formato especificado
    return {"Usuario con más horas jugadas para el género {}".format(genero) : user_most_played_id, "Horas jugadas": hours_per_year}

***modificamos la logica para cuando el año sea igual a 0 aparezca desconocido***

In [48]:
def UserForGenre(games_items, genero):
    # Filtrar el DataFrame por el género dado
    df_genre = games_items[games_items['genres'] == genero]

    # Verificar si el DataFrame filtrado está vacío
    if df_genre.empty:
        return "No hay datos para el género {}".format(genero)

    # Obtener el usuario con más horas jugadas
    user_most_played_id = df_genre.groupby('user_id')['playtime_forever'].sum().idxmax()

    # Obtener la acumulación de horas jugadas por año de lanzamiento
    hours_per_year = df_genre.groupby('release_date')['playtime_forever'].sum().astype(int).reset_index()
    hours_per_year.columns = ['Año', 'Horas']

    # Cambiar el valor del año a 'desconocido' cuando es igual a 0
    hours_per_year['Año'] = hours_per_year['Año'].apply(lambda x: 'desconocido' if x == 0 else x)

    # Crear el diccionario de resultados
    hours_per_year = [{'Año': row['Año'], 'Horas': row['Horas']} for _, row in hours_per_year.iterrows()]

    # Devolver los resultados en el formato especificado
    return {"Usuario con más horas jugadas para el género {}".format(genero) : user_most_played_id, "Horas jugadas": hours_per_year}

In [40]:
games_items.head(2)

   item_id  genres  release_date            user_id  playtime_forever
0   282010  Action          1997  76561198063896904          0.083333
1   282010  Action          1997  76561198091362266          0.216667

In [50]:
# llamar la función UserForGenre
UserForGenre(games_items, 'Simulation')

{'Usuario con más horas jugadas para el género Simulation': '76561198082881423',
 'Horas jugadas': [{'Año': 1994, 'Horas': 4},
  {'Año': 1998, 'Horas': 31},
  {'Año': 1999, 'Horas': 46},
  {'Año': 2000, 'Horas': 2},
  {'Año': 2001, 'Horas': 97},
  {'Año': 2002, 'Horas': 52},
  {'Año': 2003, 'Horas': 120},
  {'Año': 2005, 'Horas': 10},
  {'Año': 2006, 'Horas': 146305},
  {'Año': 2007, 'Horas': 262},
  {'Año': 2008, 'Horas': 957},
  {'Año': 2009, 'Horas': 7270},
  {'Año': 2010, 'Horas': 13696},
  {'Año': 2011, 'Horas': 3349},
  {'Año': 2012, 'Horas': 8641},
  {'Año': 2013, 'Horas': 45421},
  {'Año': 2014, 'Horas': 12854},
  {'Año': 2015, 'Horas': 30457},
  {'Año': 2016, 'Horas': 11407},
  {'Año': 2017, 'Horas': 9749}]}

In [63]:
# mostrar generos unicos
games_items['genres'].unique()

<StringArray>
[                   'Action',                     'Indie',
                    'Racing',                  'Strategy',
                       'RPG',                'Simulation',
                    'Casual',                 'Adventure',
               'Desconocido',                    'Sports',
     'Massively Multiplayer',                 'Utilities',
  'Animation &amp; Modeling', 'Design &amp; Illustration',
                 'Education',         'Software Training',
            'Web Publishing',          'Video Production',
          'Audio Production',             'Photo Editing']
Length: 20, dtype: string

###  **``función 4``**:
def **best_developer_year**(**`año`**: **int** ) : Devuelve el top 3 de desarrolladores con juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = Verdadero y comentarios positivos). **variables**. **`release_date`**, **`reviews.recommend (sentiment_analysis)`**

In [18]:
def best_developer_year(games_reviews, year):
    # Filtrar el dataframe 'games_reviews' por año, recomendaciones y comentarios positivos
    df_filtered = games_reviews[(games_reviews['release_date'] == year) & (games_reviews['recommend'] == True) & (games_reviews['sentiment_analysis'] == 2)]

    # Agrupar por desarrollador y contar las reseñas
    developer_counts = df_filtered['developer'].value_counts()

    # Ordenar los resultados y seleccionar los tres primeros
    top_developers = developer_counts.nlargest(3)

    # Crear la lista de resultados
    result = []
    for i, (developer, count) in enumerate(top_developers.items(), start=1):
        result.append({f"Puesto {i}": developer})

    return result

***Se agrego un mensaje de error***

In [29]:
def best_developer_year(games_reviews, year):
    # Filtrar el dataframe 'games_reviews' por año, recomendaciones y comentarios positivos
    df_filtered = games_reviews[(games_reviews['release_date'] == year) & (games_reviews['recommend'] == True) & (games_reviews['sentiment_analysis'] == 2)]

    # Verificar si el DataFrame filtrado está vacío
    if df_filtered.empty:
        return "No hay datos para el año {}".format(year)

    # Agrupar por desarrollador y contar las reseñas
    developer_counts = df_filtered['developer'].value_counts()

    # Ordenar los resultados y seleccionar los tres primeros
    top_developers = developer_counts.nlargest(3)

    # Crear la lista de resultados
    result = []
    for i, (developer, count) in enumerate(top_developers.items(), start=1):
        result.append({f"Puesto {i}": developer})

    return result

In [19]:
# fechas unicas de release_date
games_reviews['release_date'].unique()

array([1997, 1998, 2006, 2005, 2000, 2007, 1996, 1995, 1994, 2001, 2004,
       2003, 2008, 1993, 2009, 2002, 2010, 2011, 2013, 2012,    0, 2015,
       2014, 1992, 2016, 1989, 1999, 2017, 1991, 1990])

In [41]:
# buscar el mejor desarrollador del año 2019
best_developer_year(games_reviews, 2015)

[{'Puesto 1': 'Psyonix, Inc.'},
 {'Puesto 2': 'Trion Worlds'},
 {'Puesto 3': 'Kyle Seeley'}]

###  **``función 5``**:
def **desarrollador_reviews_analysis**( **`desarrolladora`**: **str**) : Según el desarrollador, se devuelve un diccionario con el nombre del desarrollador como llave y una lista con la cantidad total de registros de reseñas de usuarios que se encuentran categorizados con un análisis de sentimiento como valor positivo o negativo. **`developer`**, **`sentiment_analysis`**

In [85]:
def desarrollador_reviews_analysis(games_reviews, desarrolladora):
    # Filtrar el dataframe por el desarrollador
    df_filtered = games_reviews[games_reviews['developer'] == desarrolladora]

    # Contar el número de reseñas con análisis de sentimiento positivo, neutral y negativo
    sentiment_counts = df_filtered['sentiment_analysis'].value_counts()

    # Crear el diccionario de resultados
    result = {desarrolladora: {'Negativo': sentiment_counts.get(0, 0), 'Positivo': sentiment_counts.get(2, 0)}}

    return result

In [51]:
def desarrollador_reviews_analysis(games_reviews, desarrolladora):
    # Filtrar el dataframe por el desarrollador
    df_filtered = games_reviews[games_reviews['developer'] == desarrolladora]

    # Verificar si el DataFrame filtrado está vacío
    if df_filtered.empty:
        return "No hay datos para el desarrollador {}".format(desarrolladora)

    # Contar el número de reseñas con análisis de sentimiento positivo, neutral y negativo
    sentiment_counts = df_filtered['sentiment_analysis'].value_counts()

    # Crear el diccionario de resultados
    resultado = {desarrolladora: {'Negativo': sentiment_counts.get(0, 0), 'Positivo': sentiment_counts.get(2, 0)}}

    return resultado

In [53]:
# llamar a la función desarrollador_reviews_analysis con el argumento 'Valve'
desarrollador_reviews_analysis(games_reviews, 'Poolians.com')

'No hay datos para el desarrollador Poolians.com'

In [86]:
# llamar a la función desarrollador_reviews_analysis con el argumento 'Valve'
desarrollador_reviews_analysis(games_reviews, 'Stainless Games Ltd')

{'Stainless Games Ltd': {'Negativo': 0, 'Positivo': 2}}

In [24]:
# lista de desarrolladores unicos
desarrolladores = games_reviews['developer'].unique()
desarrolladores

array(['Stainless Games Ltd', 'Valve', 'Outerlight Ltd.', ...,
       'Troika Games', 'Neversoft', 'Malfador Machinations'], dtype=object)

In [26]:
games_reviews.isna().sum().sort_values(ascending = False)

genres                0
item_name             0
release_date          0
price                 0
item_id               0
developer             0
user_id               0
user_url              0
recommend             0
year                  0
sentiment_analysis    0
dtype: int64

### **Reporte** 
* Convertir los dataframes en **``parquet``** solo seleccionando las columnas que se utilizaran para cada función
* Sistema de recomendación modelo **Machine Learning** 
* Hacer el **EDA**
* Probar las funciones con ***FastApi*** (***ENV***, Requerimientos)
* Optimizar la documentación y el proyecto en general
* Publicar los repositorios
* Deployar el proyecto ***Render***
* Hacer el video de 7 min

In [31]:
# mostrar las fechas unicas del dataframe games 
games['release_date'].unique()

array([2018, 2017,    0, 1997, 1998, 2016, 2006, 2005, 2003, 2007, 2002,
       2000, 1995, 1996, 1994, 2001, 1993, 2004, 1999, 2008, 2009, 1992,
       1989, 2010, 2011, 2013, 2012, 2014, 1983, 1984, 2015, 1990, 1988,
       1991, 1985, 1982, 1987, 1981, 1986, 2021, 2019, 1975, 1970, 1980])

In [42]:
reviews.head(2)

,user_id,user_url,item_id,recommend,year,sentiment_analysis
0,Hype_R,http://steamcommunity.com/id/Hype_R,10,True,2014,2
1,lanatbeonakeehsasamokoshtan,http://steamcommunity.com/id/lanatbeonakeehsas...,10,True,2014,2

In [43]:
games.count()

genres          74837
item_name       74837
release_date    74837
price           74837
item_id         74837
developer       74837
dtype: int64

In [44]:
items.count()

item_id             48328
item_name           48328
playtime_forever    48328
user_id             48328
items_count         48328
dtype: int64

In [45]:
reviews.count()

user_id               55313
user_url              55313
item_id               55313
recommend             55313
year                  55313
sentiment_analysis    55313
dtype: int64

In [29]:
games_reviews.head(2)

,genres,item_name,release_date,price,item_id,developer,user_id,user_url,recommend,year,sentiment_analysis
0,Action,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,http://steamcommunity.com/id/InstigatorAU,True,2014,1
1,Indie,Carmageddon Max Pack,1997,9.99,282010,Stainless Games Ltd,InstigatorAU,http://steamcommunity.com/id/InstigatorAU,True,2014,1